.GameBox{
    width: 1052px;
    height: 545px;
    margin-right: 213px;
    border: 3px solid black;
    margin-top: -59px;
    background-color: gray;
    height: 543px;
}
.GameBox {
  width: 1052px;
  background-color: gray;
  border: black 3px solid;

      margin-left: 347px;
    margin-top: -33px;

  margin-left:358px;
  margin-top: -38px;

  margin-left:358px;
  margin-top: -38px;


}

.healthbar-container {
  display: flex;

  justify-content: space-between;
  margin-bottom:  10px;
  padding:   0 20px;
  /* add spacing from canvas border if needed */
}

.healthbar {
  width: 500px;
  height: 30px;
  border: black 2px solid;
  background-color: green;
}

#messages {
  height: 200px;
  width: 226;
  background: #eee;
  padding: 10px;
  margin-bottom: 10px;
}

.message {
  padding: 5px;
  border-bottom: 1px solid #ccc;

}

#chat {
  margin-top: 20px;
  width: 285px;

    height: 32px;
    position: relative;
    left: 32px;

  height: 35px;
  position: relative;
  left: 40px;


}


.header {
  display: flex;
  justify-content: space-between;
  align-items: first baseline;

  background-color: rgb(72, 77, 146);

  height: 57px;
  position: relative;
left: 4px;

  height: 92px;


}

.nav {
  padding-left: 42px;
  position: relative;
  top: 6px;
  color: rgb(42, 145, 150);
}
  #AddToPlayerBaseBtn {
    display: none;
  }
    #cnfrmbtn {
    display: none;
  }
  .report-btn{
    background-color: red;
  }

  .navbar-brand{
display: inline;

  }
