body{
    display: flex;
flex-direction: column;
align-items: center;
}
.header{
display: flex
;
    justify-content: space-between;
    align-items: first baseline;
    background-color: rgb(72, 77, 146);
    height: 203px;
}
.title{
position: relative;
top:6px;
padding-right: 42px;
color: rgb(122, 213, 249);
}



.nav{
padding-left: 42px;
position: relative;
top: 6px;
color: rgb(42, 145, 150);
}