   .title{
display: flex;
justify-content: center;

   }
   body{
      direction: rtl;
      /* max-width: 600px; */
      margin: auto;
      padding: 20px;
    }
 input{
      width: 100%;
      padding: 8px;
    }
#max-width600pxreportpage{
      direction: rtl;   
      max-width: 600px;
      margin: auto;
      padding: 20px;
}
#flex-center_button_report{
      display: flex;
      justify-content: center;
}
