#headerplace{
          justify-content: space-between;
        align-items: first baseline;
        background-color: rgb(72, 77, 146);
        height: 160px;
        width: 100%;
        font-family: Arial, sans-serif;
}
#a-header a{
color: white;
text-decoration: none;
}
#a-header a:hover {
    color: orange;
    text-decoration: none;
}

#title2{
  font-size: 50px;
  font-weight: bold;
  color: rgb(127, 201, 220);
  text-align: center;
  margin-bottom: 15px;
  text-decoration: none;
}
a:hover{
  color: orange;
}
#footerplace{
  font-family: Arial, sans-serif;
}
#footer{
background-color: aqua;
}
#a-footer a{
  color: #7703f4;
}
#a-footer a:hover {
    color: orange;
}
#stylefooterinhelppage{
  width: 100%;
}