#overlay {
  font-family: Arial, sans-serif;
  background-color: #e6eaf0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hidden {
  display: none !important;
}

#show-login {
  padding: 12px 20px;
  font-size: 16px;
  background-color: #083e78;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}


  a{
    color: black;
   text-decoration: none;
}

a:hover{
  color: orange;}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 35, 35, 0.76);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.SignBox {
  width: 400px;
  background-color: #fff;
  padding: 30px 25px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 130px;
}

.SignBox h2 {
  margin-bottom: 20px;
  color: #333;
}

.SignBox input[type="text"],
.SignBox input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  box-sizing: border-box;
}

.terms-label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 14px;
  margin-bottom: 20px;
}

.terms-label a {
  color: #007BFF;
  text-decoration: none;
}

.terms-label a:hover {
  text-decoration: underline;
}

#AddToPlayerBaseLI {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  opacity: 1;
}

#AddToPlayerBaseLI:hover {
  background-color: #218838;
}

/* #AddToPlayerBase:disabled {
  opacity: 0.5;
  cursor: not-allowed;
} */

#cnfrmbtnLI {
  background-color: transparent;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 14px;
  margin-top: 15px;
}

#cnfrmbtnLI:hover {
  text-decoration: underline;
}

#message {
  margin-top: 10px;
  font-size: 14px;
  color: #d9534f;
}

#captcha-container {
  display: none;
}
#centerpagelogin{
  display: flex;
  justify-content: center;
}
#addToPlayerBase{
  margin-bottom: 12px;
}