#main-nav{
    /* position: relative; */
 /* right:491px;  */
 top:57px ;
 padding-left: 42px;
 color:rgb(122,213,249)
}

a{
  color:rgb(0, 0, 0);
    text-decoration: none;
}

a:hover{
  color: orange;
}
#special-btn {
  background: none;
  border: none;
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
  font: inherit;
  padding: 0;
  margin: 0 10px;
}
