.fashion{
background-color: rgb(67, 140, 196);
color: beige;

}
.footercopyright{
  color: black;

}
.footer{
  color: #000;
}

  .title{
    position: relative;
    top: 6px;
    padding-right: 42px;
    color: rgb(122, 213, 249);
  }

.nav{
  padding-left: 42px;
    position: relative;
    top: 6px;
  color: rgb(42, 145, 150);
}

 body {
      font-family: Arial;
      direction: rtl;
      padding: 20px;
    }
    input, select, textarea {
      width: 100%;
      margin-bottom: 10px;
      padding: 8px;
    }
    .profile-box {
      border: 1px solid #ccc;
      padding: 15px;
      margin-top: 20px;
      background-color:blue;
    }
    
  .header{
    display: flex;
        justify-content: space-between;
        align-items: first baseline;
        background-color: rgb(40, 46, 128);
        height: 203px;
  
        
  }






