html
{
color: 2.49.28;
}

body {
    font-family: Arial, sans-serif;
    direction: rtl;
    background-color: #f0f0f0;
    padding: 20px;
  }
 .container {
    max-width: 700px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
  }

  #chat {
    margin-top: 20px;
    width: 285px;
    height: 93px;
  }


 
  #messages {
    height: 200px;
    overflow-y: auto;
    background: #eee;
    padding: 10px;
    margin-bottom: 10px;
  }
  .message {
    padding: 5px;
    border-bottom: 1px solid #ccc;

  }

  .header{
    display: flex
    ;
        justify-content: space-between;
        align-items: first baseline;
        background-color: rgb(72, 77, 146);
        height: 203px;
  }
  .title{
    position: relative;
    top: 6px;
    padding-right: 42px;
    color: rgb(122, 213, 249);
  }


  .player {
    margin-bottom: 10px;
  }
  .low-reputation {
    color: red;
  }
  
a{
  color: #efe037;
}
  



.nav{
  padding-left: 42px;
    position: relative;
    top: 6px;
  color: rgb(42, 145, 150);
}

#pre1 {
  background-color: #fff;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   margin-bottom: 20px;
   white-space: pre-wrap;
   line-height: 1.6;
   box-sizing: border-box;
   font-size: 22px;
   font-family: unset;
   left: 8px;


   
}

#playbutton, #info {
  display: inline-block;
  background-color: #03a9f4; 
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin: 10px;
  transition: background-color 0.3s ease;
left:8px;
}

  .player {
    margin-bottom: 10px;
  }
  .low-reputation {
    color: red;
  }

.GameBox{
    width: 1052px;
    height: 500px;
    margin-right: 213px;
    border: 3px solid black;
    margin-top: -88px;
    background-color: gray;
}
.GameBox {
  width: 1052px;
  background-color: gray;
  border: black 3px solid;
  margin-left: 300px;

}

.healthbar-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 0 20px; /* add spacing from canvas border if needed */
}

.healthbar {
  width: 500px;
  height: 30px;
  border: black 2px solid;
  background-color: green;
}


  