
 

  .header{
    display: flex
    ;
        justify-content: space-between;
        align-items: center;
        background-color:rgb(221, 246, 252);
  }
  .title{
    padding-right: 42px;
    color: rgb(122, 213, 249);
  }

.nav{
  padding-left: 42px;
  color: rgb(122, 12, 0);
}
