body {
    font-family: Arial, sans-serif;
    direction: rtl;
    background-color: #f0f0f0;
    padding: 20px;
  }
  .container {
    max-width: 700px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
  }
  #chat {
    margin-top: 20px;
    width: 285px;
    height: 93px;
  }
  #messages {
    height: 200px;
    overflow-y: auto;
    background: #eee;
    padding: 10px;
    margin-bottom: 10px;
  }
  .message {
    padding: 5px;
    border-bottom: 1px solid #ccc;
  }
  .report-btn {
    background: red;
    color: white;
    border: none;
    padding: 3px 6px;
    cursor: pointer;
    float: left;
    margin-left: 10px;
  }
  .player {
    margin-bottom: 10px;
  }
  .low-reputation {
    color: red;
  }
.footer{
display: flex;
justify-content: space-around;
}
.footercopyright{
font-size: large;
background-color: rgb(231, 224, 233);
}
.footercopyrighth1{
display: flex;
  justify-content: center;
}